img{
    font-size:16px;
    width: 14em;
    height: 11em;
    border-radius: 10%;
    border-style: solid;
    border-color: white;

 }

 .header{}

 #head{

 }

#head1{
font-weight: bold;
}

 #L{
    padding: 12.5px 15px;
    background-color: #F2F2F2;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%; 
    position: relative; 
    left:10%;
 }
  
input{
    border-color: #F2F2F2;
    border-style: solid;
    padding: 10px 5px;
    width:70%;
    border-width:thin ;
    position: relative;
}

.search-btn{
    font-weight: bold;
    background-color: #0065FC;
    color:white;
    border-top-right-radius: 20%;
    border-bottom-right-radius:20%;
    padding:11px 10px;
    position: relative;
    right:5px;
}

header{
    border:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1.5em;
    margin-right:5em ;
    min-width: 320px;
 }



#Re{
    width:4em;
    height:2em;
    display: flex;
    justify-self:flex-start;
    padding-right: 70%;
   
    
}

#info{
    border-radius: 100%;
    border-width: thin;
    border-style: solid;
    border-color:#F2F2F2 ;
    padding:5px 10px;
    color: #0065FC;
}

 body{
    font-family: raleway;
    font-size: 12px;
 }


 a{
    text-decoration: none;
 }

 
  


 .container1{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
 }
 

 .container2{
     font-weight: bold;
     display:flex;
     flex-direction: row;
     gap: 20px;
     padding-left:1em;
     
 }

 .filter:hover{
    background-color: #DEEBFF;
 }

.span3{
    border-style: none;
}


 .icon{
     color:#0065FC;
     background-color: #DEEBFF;
     border-radius: 100%;
     padding:10px 10px;
     position: relative;
     right: 2%; 
     
 }

 div .container2 :nth-child(1), .container2 :nth-child(2), .container2 :nth-child(3), .container2 :nth-child(4), .container2 :nth-child(5){
     border-radius: 45% /100%;
     border-color:#F2F2F2;
     border-style: solid;
     width: 120px;
 }

.sections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


 section{
     background-color: #F2F2F2;
     border-radius: 20px;
     width: 60%;
     height: 50em;
     
 }

 .span{
     position: relative;
     left: 2em;
 }

.flex1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

 .card{
     background-color: white;
     line-height: 20px;
     width: 16.5em;
     padding: 1px 13px;
     border-bottom-right-radius:10%;
     border-bottom-left-radius: 10%;  
 }

 .p1{
    position:relative;
    bottom: 75px;
    left:3px;
 }

 #Show{
     font-weight:bold ;
position: relative;
     padding: 2em;
     bottom: 3em;
 }

 .SEC2{
     width: 35%;
     height: 50em;
 }

.MP{
    display: inline-flex;
    

}

div .MP :nth-child(1){
    padding-left: 2em;
}

 

.img1{
    position: relative;
    width:10em ;
    height: 8em;
    border-radius: 0%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;

}

#arrow{
    margin-left: 21em;
    font-size: 14px;
    padding-top: 1em;
    
     
}

.flex2{
    display: flex;
    flex-direction:column;
    align-items:center;
    
    
}

.flex3{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    
}

.bluestar{
color: #0065FC;
}

.greystar{ 
color: #F2F2F2;
}

.card2{
    background-color: white;
    width: 15em;
    height: 11em;
    padding-bottom: 0em;
    border-top-right-radius:10%;
    border-bottom-right-radius:10%;
    position:relative;
    line-height: 2em;
    bottom:11px;
    padding-left:10px ;
}

.flex4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    
    
}

.card3{
    background-color: white;
    border-color:#F2F2F2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px;
    position: relative;
    bottom:50px;
    border-style:solid ;
    border-top-style: none;
    border-bottom-width: thin;
    border-left-width: thin;
    border-right-width: thin;
    padding:  10px 10px;
    flex-grow: 1;


}

.tall{
width: 17em;
height: 27em;
}

#square{
    width: 17em;
    height:13em; 
}

#short{
width: 17em;
height:10em ;
}
 
.short1{
    width: 17em;
    height:11em;
}


.end{
    display: flex;
    flex-direction: column;
    line-height: 1em;
    flex-grow: 1;
    padding-left: 2em;
}



footer{
 background-color: #F2F2F2;
 display: flex;
 flex-direction: row;
 flex-shrink: 1;
}


@media only screen and (max-width: 600px){
   
    header{
        display:flex;
        flex-direction: row;
       flex-wrap: wrap;
       justify-items: space-around;
   }

   #Re{
      order:1;
      margin-bottom: 5mm;
	  
   }

   .header{
    position: relative;
    left: 1em;
    border-bottom-style:solid ;
    border-bottom-color:#F2F2F2;
    padding-right:10mm ;
    padding-left:3em ;
    padding-bottom:1em ;
   }

   .header1{
    position: relative;
	right: 4em;
    border-bottom-style:solid ;
    border-bottom-color:#F2F2F2 ;
    padding-right: 2em;
    padding-left:3em ;
    padding-bottom: ;
}

   #head{
       order:3; 
   }
  
  #head1{
  order:2;
  position: relative;
  bottom: 3.5em;
  left:25em;
  }
  
.container2{
   display: flex;
   flex-direction: column;
  gap: 10px;
}

.rom{
    position: relative;
    left: 12em;
    bottom:12.1em;
}


.c{
    order:3; 
}

   img{
    width: 21em;
    height:11em;
   }

   .card2{
width: 12em;

   }

   .card{
    width: 25.7em;
    border-style: solid;
    border-width: thin;
    border-color:#F2F2F2 ;
   }

   .MP{
       font-size:16px;
       align-items: center;
   }

   .span{
       position: static;
       margin-top: 10em;
   }

   .flex3{
        align-content: center;
   }
   
   div .MP :nth-child(1) {
    padding-left: 1em;
}

#arrow{
	position: relative;
	bottom: 1mm;
	margin-left: 9em;
	font-size: 19px;
	
}

.sections{
   flex-direction: column-reverse; 
}
.SEC2{
    width: auto;
    height: auto;
}

.flex1{
    background-color: white;
}

#color{
    background-color:white ;
}

.span{
    text-align: center;
    font-size: 17px;
}

#span2{
    font-size: 17px;
    position: relative;
    left:5em;
}

section{
    border-radius: 0em;
    width: auto;
    height: auto;
}

.tall{
    width: 21em;
    height:11em;
}

#square{
    width: 21em;
    height:11em;
}

#short{
    width: 21em;
    height:11em;
}

.short1{
    width: 21em;
    height:11em;
}

.card3{
    width: 26.4em;
}

.flex4{ flex-direction: column;
    align-items: center;
}

footer{
   flex-direction: column;
    width: auto;
    height: auto;
}

.end{
    display: inline;
}

}